#x1{
text-align: center;
font-size: xx-large;
line-height: 100px;
background-color: rgb(56, 172, 56);
}
#x2{
    text-align: center;
    font-size: xxx-large;
    line-height: 200px;
}
table, th, td {
    border: 1px solid black;
  }
  
  table {
    width: 100%;
    line-height: 75px;
    font-size: xx-large;
    
  }
  #x6{
      line-height: 10px;
    
      
  } 
   #x9{ font-size: xxx-large;
    text-align: center;
    
    
    
  }
  #x10{
    background-color: rgb(151, 57, 57);
  }